alembic==1.11.3
SQLAlchemy==2.0.20

git+https://github.com/flameai/db.git@v0.0.1_dev#common_db[postgres]
git+https://github.com/flameai/fastapi.git@v0.0.1_dev#common_fastapi
git+https://github.com/flameai/environ.git@v0.0.1_dev#common_environ
git+https://github.com/flameai/logging.git@v0.0.1_dev#common_logging
